<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>led가 현재 <%= led %> 입니다</h2>
    
    <form method="post" action="/">
      <input type="radio" name="led" value="on">LED를 켭니다      
      <input type="radio" name="led" value="off">LED를 끕니다
      <input type="submit" value="LED 상태 변경">
    </form>
  </body>
</html>
